<%- include('../../partials/header.ejs') %> <!-- Importando o cabeçalho da página, HEADER -->
<body>
    <%- include('../../partials/navbar.ejs') %> <!-- Importando o navbar da página, NAVBAR -->
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h2>Editar Artigo</h2>
            </div>
            <div class="card-body">
                <form action="/admin/article/update" method="post">
                    <input type="hidden" name="id" value="<%= article.id %>">
                    <input class="form-control" type="text" name="title" id="" placeholder="Defina o título do artigo" value="<%= article.title %> "> <br>
                    <textarea name="body" id="txtaArticle" class="form-control" placeholder="Escreva o artigo aqui:"><%- article.body %> </textarea><br>
                    <label>Categorias</label>
                    <div class="mb-3">
                      <label for="" class="form-label"></label>
                      <select class="form-control" name="category" id="">
                            <% categories.forEach((category) => { %>
                                <% if(category.id == article.categoryId){ %>
                                    <option value="<%= category.id %>" selected><%= category.title %></option>
                                <% } else { %>
                                    <option value="<%= category.id %>"><%= category.title %></option>
                                <% } %>   
                            <% }) %> 
                      </select>
                    </div>
                    <button class="btn btn-primary">Editar</button>
                </form>
            </div>
        </div>
    </div>
</body>
<%- include ('../../partials/footer.ejs') %>  <!-- Importando o footer da página, FOOTER -->
<!-- Importando o TinyMCE -->
<script src="/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
        language: 'pt_BR',
        selector: "#txtaArticle",
        plugins: [
            'advlist autolink link image print lists preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons'
        ]
    });
</script>