<%- include('../../partials/header.ejs') %> <!-- Importando o cabeçalho da página, HEADER -->
<%- include('../../partials/navbar.ejs') %> <!-- Importando o navbar da página, NAVBAR -->
<body>
    <div class="container">
        <hr>
        <h2>Usuarios</h2>
        <a class="btn btn-primary" href="/admin/users/create">Criar novo usuario</a>
        <hr>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach(user => { %> 
                    <tr>
                        <th><%= user.id %></th>
                        <th><%= user.email %></th>
                    </tr>
                <% }) %> 
            </tbody>
        </table>
    </div>
    
</body>
<%- include ('../../partials/footer.ejs') %>  <!-- Importando o footer da página, FOOTER -->